<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Apple User Group Dresden</title>

    {% load static %}

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/normalize.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/main.css" %}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
</head>
<body>

<div class="wrapper">
    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h1>Apple User Group Dresden</h1>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <p class="hero-description">
                    Wir sind eine unabhängige Community von Apple-Usern aller Altersschichten, die sich regelmäßig in
                    Dresden trifft. Zu diesen Treffen bist auch Du herzlich eingeladen! Jeder kann bei uns mitmachen.
                    Es gibt keine feste Mitgliedschaft oder Beitragszahlung.
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <section class="next-meeting">
                    <h2>Nächstes Treffen</h2>
                    <time class="next-meeting-pill">
                        {{ upcoming_meeting.start | date:"d. F Y" | default:"Unbekannt" }}
                    </time>
                    {% if upcoming_meeting %}
                        <h2>
                            ab {{ upcoming_meeting.start | date:"H" }} Uhr im {{ upcoming_meeting.location.name }}
                        </h2>

                    {# Add structured event data to the page for search engines. #}
                    <script type="application/ld+json">
                        {
                            "@context": "http://www.schema.org",
                            "@type": "SocialEvent",
                            "name": "Apple User Group Treffen {{ upcoming_meeting.start | date:"F Y" }}",
                            "url": "https://www.macuser-dresden.de",
                            "description": "Das monatliche Treffen der Dresdener Apple User Group.",
                            "startDate": "{{ upcoming_meeting.start | date:"c" }}",
                            "endDate": "{{ upcoming_meeting.end | date:"c" }}",
                            "isAccessibleForFree": "true",
                            "inLanguage": "de",
                            "typicalAgeRange": "18-",
                            "location":
                            {
                                "@type": "Place",
                                "name": "{{ upcoming_meeting.location.name }}",
                                "address":
                                {
                                    "@type": "PostalAddress",
                                    "streetAddress": "{{ upcoming_meeting.location.street }}",
                                    "addressLocality": "{{ upcoming_meeting.location.city }}",
                                    "postalCode": "{{ upcoming_meeting.location.postcode }}",
                                    "addressCountry": "Deutschland"
                                }
                            }
                        }
                    </script>

                    {% endif %}
                </section>
            </div>
        </div>

    </div>
</div>

</body>
</html>